<div class="col-md-11 col-9 p-1">
<div class="p-0">
<div class="card">
<img src="{{ meta.cover }}" class="card-img-top" alt="{{ meta.title }}">
<div class="card-body">
<h3>{{ meta.title }}</h3>
<h5>{{ meta.description }}</h5>
<p>{{ content }}</p>
</div>
</div>
</div>   
</div>